<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160945447343-ja5p5s00ph8ucvdl3j8k29d2j0em467g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160945447343-ja5p5s00ph8ucvdl3j8k29d2j0em467g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160945447343-ol4n08u0oat5nlsb79l48od0b15jl3ka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk8hlPLaWEBkddd6i_tdMt_rDZuMr2qfM</string>
	<key>GCM_SENDER_ID</key>
	<string>160945447343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acta</string>
	<key>PROJECT_ID</key>
	<string>to-do-back</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-back.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160945447343:ios:8cb00640b802f1ca998f5a</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-back-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>